body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  padding: 10px;
  background-image: url("./images/bg-pattern-top-mobile.svg"),
    url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top left, right bottom;
}

/* Heading */

h1 {
  text-align: center;
  color: hsl(300, 43%, 22%);
  margin: 5% 10%;
}

.desc {
  text-align: center;
  line-height: 1.5em;
  color: hsl(303, 10%, 53%);
}

/* Rating */

.card-rating {
  box-sizing: border-box;
  background-color: hsl(300, 24%, 96%);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-rating p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  margin: 10px 0;
}

/* Review */

.card-review {
  color: hsl(0, 0%, 100%);
  background-color: hsl(300, 43%, 22%);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 175px;
}

.card-review p {
  color: hsl(300, 24%, 96%);
  margin: 25px 0 0;
  font-size: 13px;
  line-height: 1.5em;
}

.card-review-profile {
  display: grid;
  grid-template-columns: 50px auto;
  grid-column-gap: 20px;
}

.card-review-profile img {
  width: 50px;
  border-radius: 50%;
  grid-row: 1 / 3;
}

.card-review-profile-name {
  margin-top: 5px;
  font-weight: 700;
}

.card-review-profile-verified {
  margin-top: 5px;
  color: hsl(333, 80%, 67%);
}

/* Credit */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-size: 30vw, 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0;
  }

  /* Layout */

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1100px;
  }

  .section-1 {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
  }

  .section-3 {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    margin-top: 25px;
  }

  /* Heading */

  h1 {
    font-size: 2.5em;
    text-align: left;
    margin: 0;
  }

  .desc {
    text-align: left;
  }

  /* Rating */

  .card-rating {
    width: 80%;
    text-align: left;
    padding: 15px 30px;
  }

  .card-rating p {
    display: inline;
  }

  .card-rating .star {
    margin-right: 30px;
  }

  #rate-2 {
    margin-left: 10%;
  }

  /* Review */

  #rate-3 {
    margin-left: 20%;
  }

  #review-2 {
    margin-top: 15px;
  }

  #review-3 {
    margin-top: 30px;
  }
}
